.call-to-action {
  position: relative;
  top: -62px;
  z-index: 1;
  padding-left: 23%;

  @media(max-width: $tablet) {
    top: 0;
  }

  @media(max-width: $mobile-l) {
    padding-left: 0;
  }

    &__info {
      margin-bottom: 32px;
      font-size: $fs-text;
      font-weight: $fw-400;
      line-height: $lh-150;
      color: $main-color;

      @media(max-width: 600px) {
        & br {
          display: none;
        }
      }
    }
}
