.form-input {
  width: 100%;
  height: 56px;
  margin-bottom: 16px;
  padding: 12px 20px;
  color: rgba(255, 255, 255, 0.50);
  border-radius: 8px;
  border: 1px solid $grey;
  background: linear-gradient(129deg, rgba(250, 250, 250, 0.10) -0.77%, rgba(164, 164, 164, 0.00) 140.72%);
  box-shadow: 14.219px 15.234px 43.672px 0px rgba(194, 194, 194, 0.05) inset, 0px 65px 130px -5.078px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(15.7421875px);

  &:last-child {
    margin-bottom: 24px;
  }
}

::placeholder {
  color: rgba(255, 255, 255, 0.50);
}