.full {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -166px;
    left: 0;
    width: 100%;
    height: 526px;
    background: url('../img/tape-desk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(max-width: 800px) {
      bottom: -245px;
    }

    @media(max-width: 600px) {
      content: none;
    }
  }
}
