.main-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  padding: 16px 24px;
  font-family: $ff-accent;
  font-size: $fs-text-s;
  font-weight: $fw-500;
  line-height: $lh-20;
  color: $main-color;
  background-color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 16px;
  cursor: pointer;

    &__icon {
      width: 24px;
      height: 16px;
    }

    &:hover {
      background-color: $accent-color-hover;
    }

    &:focus,
    &:active {
      background-color: #6464FF;
    }

    &:disabled {
      background: #E2E2E2;
      color: rgba(29, 29, 29, 0.5);
      border-color: #E2E2E2;
    }
}
