.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 11;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  background: rgba(29, 29, 29, 0.8);
  opacity: 0;
  border-radius: 24px;
  box-shadow: 14.219px 15.234px 43.672px 0px rgba(194, 194, 194, 0.05) inset, 0px 65px 130px -5.078px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(15px);
  transform: translateY(-200%);
  transition: opacity .4s cubic-bezier(.25,.8,.25,1);

  &.open {
    opacity: 1;
    transform: translateY(-50%);
  }

  &__wrapper {
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    color: $grey-color;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1px;
  }

  &__close {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__close div {
    position: absolute;
    top: 0;
    width: 2px;
    height: 16px;
    background: $grey-color;
  }

  &__close div:first-child {
    transform: rotate(45deg);
  }

  &__close div:nth-child(2) {
    transform: rotate(135deg);
  }
}