.star-decor {
  position: absolute;
  top: 60px;
  right: -30px;
  z-index: 0;

  @media(max-width: $mobile) {
    top: 20px;
    right: -18px;
  }

    &__img {
      width: 333px;

      @media(max-width: $desktop-s) {
        width: 236px;
      }

      @media(max-width: $tablet) {
        width: 122px;
      }
    }
}
