//
//.tapes-wrapper {
//  position: relative;
//  overflow: hidden;
//
//  &_blue {
//    transform: rotate(-13deg);
//  }
//}
//
//.tapes {
//  display: flex;
//  width: 200%;
//  border-top: 1px solid #323232;
//  border-bottom: 1px solid #323232;
//  background: rgba(29, 29, 29, 0.10);
//  backdrop-filter: blur(19px);
//  overflow: hidden;
//  animation: marquee 5s linear infinite;
//
//  &__item {
//    display: inline-block;
//    width: max-content;
//    overflow: auto;
//  }
//}

.marquee {
  &__text {
    font-family: $ff-accent;
    font-size: 40px;
    font-weight: $fw-600;
    line-height: 48px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1px $accent-color;
    text-stroke: 1px $accent-color;
  }
}

