@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded/Unbounded-Regular.woff2') format('woff2'),
  url('../fonts/Unbounded/Unbounded-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl/suisseintl.woff2') format('woff2'),
  url('../fonts/SuisseIntl/suisseintl.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
