* {
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
}

a {
  color: $grey-color;
  text-decoration: none;
  transition: all 0.3s ease;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

button {
  background: transparent;
  border: none;
}

body {
  position: relative;
  margin: 0;
  font-family: $ff-main;
  color: $main-color;
  background: $back;

  &.freeze {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;

  @media(max-width: $desktop-s) {
    max-width: 960px;
    padding: 0 32px;
  }

  @media(max-width: $tablet) {
    max-width: 728px;
    padding: 0 20px;
  }

  @media(max-width: $mobile) {
    padding: 0 20px;
  }
}

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: $back-opacity;
  backdrop-filter: blur(10px);
  display: none;

    &.active {
      display: block;
    }
}

.parallax__layer {
  transition: transform 0.3s linear;
}

